.texts {
    color:white
}

.alicebluebg {
    background-color: #383838;
}

.palegoldenrodbg {
    background-color: #484848;
}

.lightbluebg {
    background-color: #505050;
}

.powderbluebg {
    background-color: #404040;
}

.centeredtexts {
    text-align: center;
}

.bottompos {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

.redtexts {
    color:red;
}