body {
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
  margin-left: 6%;
  margin-right: 13%;
  text-align: center;
  background: linear-gradient(-90deg, #4c5054, #7d8897, #323b55, #313552);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 220vh;
}

p {
  margin: 0.5px;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 0;
}

h4 {
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

li {
  list-style: none;
}

td {
  padding: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbarhr {
  transform: rotate(90deg);
  position: fixed;
  right: -41%;
  width: 100%;
  display: none;
}

.nav-list {
  position: fixed;
  right: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  margin-top: 0;
  padding-left: 0.5rem;
  padding-right: 0;
  border-left: 2px solid lightgray;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  margin-right: 1.5rem;
}

.nav-item a:hover {
  background: #9897a9;
  border-radius: 0.2rem;
  padding: 2px;
}

.nav-item a.active {
  background: #9897a9;
  border-radius: 0.2rem;
  text-decoration: none;
  color: inherit;
  padding: 2px;
}

.picture {
  width: 18%;
  height: 22.5%;
  float: right;
  border-radius: 100%;
}

.links {
  text-decoration: none;
  color: inherit;
  margin: 5px;
}

.centering {
  margin-top: 6%;
  margin-bottom: 10rem;
}

.tabs,
.tabs1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}

.tabs2,
.tabs3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.tabs .active,
.tabs1 .active,
.tabs2 .active,
.tabs3 .active {
  background: #9897a9;
  border-radius: 0.2rem;
  padding-bottom: 3px;
}

.tabscontents div,
.tabscontents1 div,
.tabscontents2 div,
.tabscontents3 div {
  display: none;
}

.tabscontents .active,
.tabscontents1 .active,
.tabscontents2 .active,
.tabscontents3 .active {
  display: block;
}

.project {
  width: 70%;
  height: 65%;
  border: 1px solid black;
}

.resumepics {
  width: 65%;
  height: 70%;
  border: 1px solid black;
}

.download {
  border: 1.5px dashed black;
  border-radius: 0.2rem;
  padding: 2px;
  display: inline-block;
}

.bottomhr {
  width: 80%;
  height: 1.5px;
  background-color: black;
}

.bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1050px) {
  .navbarhr {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .picture {
    width: 35%;
    height: 40%;
    float: none;
  }

  h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  body {
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
  }
}
